<!DOCTYPE html>
<html>

<head>
    <title>Eat Da Burger!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
        integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
        integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/burgerlogo.png">
</head>

<body>

    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light justify-content-center mb-5">
        <a class="navbar-brand" href="/">
            Eat da Burger
        </a>
    </nav>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card my-3">
                <h5 class="card-header text-center">Request a new burger and place your order!</h5>
                <div class="card-body my-1">
                    <div class="form-group">
                        <form>
                            <input type="text" class="form-control" id="new_burger" name="burger_name"></input>
                            <button id="submit-button" type="submit" class="btn btn-danger mt-4"><i
                                    class="fas fa-utensils"> </i> Place Order</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Page Container -->
    <div class="container">


        <!-- Burger Content from index.handlebars -->
        {{{body}}}


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>