html {
    background-color: #5f5f5f;
}

body {
    width: 70%;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ffffff;
}

header {
    background-color: #2cabff;
}

h1 {
    text-align: center;
    font-size: 65px;
    margin: 50px;
}

.burgerAvailable {
    font-size: 20px;
    text-align: left;
    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #2cabff;
    border: none;
}

.devour:hover {
    background-color: #4356ff;
}

.devour {
    background-color: #2cabff;
    float: right;
    border-radius: 25px;
}

.burgerEaten {
    font-size: 20px;
    text-align: left;
    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #2cabff;
    border: none;
}

h2 {
    text-align: center;
    font-size: 20px;
    margin: 50px;
}

.addBurgerButton {
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #2cabff;
    border: none;
}

.addBurgerButton:hover {
    background-color: #4356ff;
}

.burgerFooter {
    background-color: #2cabff;
    text-align: center;
    padding: 20px 0;
}